/* CocoNuts Hex Colors */
/* Yellow: #BA7E00 */
/* Red: #A30017 */
/* Black: #000000 */

#main {
    width: 100%;
    height: auto;
    border: 2px double black;
}

#quote {
    text-align: center;
    font-size: 2em;
    margin-top: 2px;
    color: #FFC125;
    text-decoration: underline;
}

table {
    margin-top: -25px;
    border: 0.5em double black;
    width: auto;
}

th {
    border: 0.25em solid black;
    padding: 10px 5px 10px 5px;
    width: 60px;
    font-size: 1.5em;
}

body {
    background-color: #A30017;
    color: gold;
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
    width: 100%;
}

#header {
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
}

#title {
    margin: auto;
    font-family: Verdana, sans-serif;
    width: auto;
    text-align: center;
    font-weight: bolder;
    font-size: 5em;
}

a:visited {
    color: #B89B00;
}

a:link{
    color: gold;
    text-decoration: none;
}

a:hover {
    color: #FFFF00;
}